Flask-SQLAlchemy~=3.1.1
Flask~=2.3.3
mysql-connector-python~=8.2.0
python-dotenv~=1.0.0
flask-restx~=1.2.0
PyJWT~=2.8.0
numpy~=1.26.2
requests~=2.32.3
Flask-Cors~=4.0.1
Unidecode~=1.3.7
openai~=1.22.0
SQLAlchemy~=2.0.23
heyoo~=0.1.2